main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 180px;
}
main div.title{
    margin: 0 auto;
    width: 90vw;
    display: flex;
    align-items: center;
    max-width: 1500px;
    height: 75vh;
}
main div.title h2 {
    font-size: 12rem;
}
main img{
    object-fit: cover;
    height: 70vh;
    width: 70vw;
    margin-left: auto;
}
main article{
    width: 100vw;
    max-width: 1600px;
    margin: 250px auto;
    text-align: justify;
    font-size: 2rem;
}
main article.contact{
    margin: 0 auto;
}
main article h2{
    font-size: 8rem;
}
main article h3{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
main article p{
    margin-bottom: 25px;
}
main article a{
    color: var(--rojo-letra);
    transition: padding-left 250ms ease-in;
    display: block; 
    margin-bottom: 25px;
}
main article a:hover{
    padding-left: 50px;
}