main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 250px;
}
main div.title{
    margin: 0 auto;
    width: 90vw;
    display: flex;
    align-items: center;
    max-width: 1500px;
    height: 80vh;
}
main div.title h2 {
    font-size: 12rem;
}
main img{
    object-fit: cover;
    height: 70vh;
    width: 70vw;
    margin-left: auto;
}