main div.title{
    margin: 0 auto;
    width: 90vw;
    display: flex;
    align-items: center;
    max-width: var(--ancho);
    height: 75vh;
}
main div.title h2 {
    font-size: var(--titulo2);
}
main img{
    object-fit: cover;
    height: 70vh;
    width: 70vw;
    margin-left: auto;
}
main article{
    width: 100vw;
    max-width: var(--ancho);
    margin: 250px auto;
    text-align: justify;
    font-size: var(--parrafo);
}
main article.contact{
    margin: 0 auto;
    margin-bottom: 250px;
}
main article h2{
    font-size: var(--titulo2);
}
main article h3{
    font-size: var(--parrafo);
    margin-bottom: 15px;
}
main article p{
    margin-bottom: 25px;
}
main article a{
    color: var(--rojo-letra);
    transition: padding-left var(--velocidad) ease-in var(--retraso);
    display: block; 
    margin-bottom: 25px;
}
main article a:hover{
    padding-left: 50px;
}