header.navbar{
    height: 120px;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
header.navbar nav{
    font-size: 2rem;
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: flex-end;
}
span.second-names{
    opacity: 0;
}
header.navbar nav , header.navbar nav span.second-names{
    color: var(--negro);
    transition: color 500ms ease-in-out, transform 500ms ease-in-out;
}
header.navbar nav:hover , header.navbar nav:hover span.second-names,
header.navbar nav:focus , header.navbar nav:focus span.second-names{
    color: var(--blanco-letra);
    opacity: 1;
    transform: translateX(-100px);
}