header.navbar{
    height: 120px;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
header.navbar nav{
    margin-right: -30px;
    font-size: 2rem;
}
span.second-names{
    color: var(--negro);
}
header.navbar nav:hover , header.navbar nav:hover span.second-names{
    animation: deslizar-navbar-izquierda .5s ease-in-out forwards;
}
@keyframes deslizar-navbar-izquierda {
    0%{
        color: var(--negro);
        transform: translateX(0px);
    }
    100%{
        color: var(--blanco-letra);
        transform: translateX(-100px);
    }
}