body section{
    width: 90%;
    max-width: 1060px;
    height: 100vh;
    margin: 0 auto;
}
body nav{
    transition: all var(--velocidad) ease-in var(--retraso);
    height: 100vh;
    width: 80vw;
    min-width: 320px;
    max-width: var(--ancho);
    display: flex;
    align-items: center;
    padding: 50px;
}
body nav h1{
    font-size: var(--titulo1);
    color: var(--rojo-letra);
}
body nav h1 div a.first,
body nav h1 div span.first{
    color: var(--blanco-letra);
}
body .bg-home{
    height: 100vh;
    width: 60%;
    min-width: 250px;
    background-image: url("../assets/raul-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -9;
}