:root{
    --rojo-letra: #EA0F1E;
    --blanco-letra: #FFFFFF;
    --negro: #000000;
    --ancho: 1150px;
    --velocidad: 200ms;
    --retraso: 50ms;
    --animacion: ease-in;
    --titulo1: 16rem;
    --titulo2: 12rem;
    --parrafo: 2.5rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: var(--negro);
    color: var(--blanco-letra);
}
a{
    text-decoration: none;
    color: var(--blanco-letra);
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 3.2rem;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 250px;
}
textarea{
    resize: vertical;
    height: 200px;
    min-height: 150px;
    max-height: 500px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=button],
input[type=text],
textarea{
    display: inline-block;
    padding: 10px;
    color: var(--blanco-letra);
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--negro);
    border: 2px solid var(--blanco-letra);
    border-radius: 4px;
    font-size: var(--parrafo);
}
input[type=button]{
    cursor: pointer;
    transition: all var(--velocidad) ease-in var(--retraso);
}