:root{
    --rojo-letra: #EA0F1E;
    --blanco-letra: #FFFFFF;
    --negro: #000000;
    --ancho: 1250px;
    --velocidad: 200ms;
    --retraso: 50ms;
    --animacion: ease-in;
    --titulo1: 16rem;
    --titulo2: 12rem;
    --parrafo: 1.6rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: var(--negro);
    color: var(--blanco-letra);
}
a{
    text-decoration: none;
    color: var(--blanco-letra);
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2.2rem;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 250px;
}