:root{
    --rojo-letra: #EA0F1E;
    --blanco-letra: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: black;
    color: var(--blanco-letra);
}
a{
    text-decoration: none;
    color: var(--blanco-letra);
}
header.navbar{
    height: 120px;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
header.navbar nav{
    margin: 0 auto;
    width: 70%;
    max-width: 960px;
    min-width: 320px;
    font-size: 2rem;
}
header.navbar nav h3{
    text-align: right;
}