main article{
    width: 100vw;
    max-width: var(--ancho);
    margin: 50px auto;
    transition: padding-left var(--velocidad) ease-in var(--retraso);
}
main article h2{
    font-size: var(--titulo2);
}
main article h3{
    font-size: var(--parrafo);
    color: var(--rojo-letra);
}
main article:hover{
    padding-left: 100px;
}